<a href="https://colab.research.google.com/github/pramuditha101/ML-Coursework/blob/main/Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install ucimlrepo

from ucimlrepo import fetch_ucirepo
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from imblearn.over_sampling import SMOTE
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split

# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = adult.data.features
y = adult.data.targets

# metadata
print(adult.metadata)

# variable information
print(adult.variables)

data = pd.DataFrame(adult.data.features)
data['income'] = adult.data.targets
#target = adult.data.targets

**Removing rows with 3 null/ missing values**

In [ ]:
# Count missing values in each row
missing_values_per_row = data.isnull().sum(axis=1)

# Count rows with more than 3 missing value
rows_with_multiple_missing_values = (missing_values_per_row == 3).sum()

print("Number of rows with three missing values :", rows_with_multiple_missing_values)

In [ ]:
null_counts = data.isnull().sum(axis=1)

# Filter out rows with three null values
data = data[null_counts < 3]


missing_values_per_row = data.isnull().sum(axis=1)

# Count rows with more than 3 missing value
rows_with_multiple_missing_values = (missing_values_per_row == 3).sum()

print("Number of rows with more than one missing value:", rows_with_multiple_missing_values)

**Checking the rest of the null values**

In [ ]:
data.isnull().sum()

**Checking the value count in 'workclass' column and replacing the null values with the mode**

In [ ]:
workclass_counts = data['workclass'].value_counts()

print("Number of times each value has been used for the 'workclass' category:")
print(workclass_counts)

In [ ]:
# Replace null values in 'workclass' with 'Private'
data['workclass'].fillna('Private', inplace=True)

# Replace question marks in 'workclass' with 'Private'
data['workclass'].replace('?', 'Private', inplace=True)

workclass_counts = data['workclass'].value_counts()

print("Number of times each value has been used for the 'workclass' category:")
print(workclass_counts)

**Checking the value count in 'occupation' column**

In [ ]:
occupation_counts = data['occupation'].value_counts()

print("Number of times each value has been used for the 'occupation' category:")
print(occupation_counts)

**Checking the value count in 'native-country' column and replacing the null values with the mode**

In [ ]:
native_country_counts = data['native-country'].value_counts()

print("Number of times each value has been used for the 'native-country' category:")
print(native_country_counts)

In [ ]:
# Replace null values in 'native-country' with 'Private'
data['native-country'].fillna('United-States', inplace=True)

# Replace question marks in 'workclass' with 'Private'
data['native-country'].replace('?', 'Private', inplace=True)

native_country_counts = data['native-country'].value_counts()

print("Number of times each value has been used for the 'native-country' category:")
print(native_country_counts)

In [ ]:
data.isnull().sum()

**Checking the value counts in 'income' column**

In [ ]:
income_counts = data['income'].value_counts()

print("Number of times each value has been used for the 'income' category:")
print(income_counts)

In [ ]:
# Replace question marks in 'income' with 'Private'
data['income'].replace('<=50K.', '<=50K', inplace=True)

# Replace question marks in 'income' with 'Private'
data['income'].replace('>50K.', '>50K', inplace=True)


income_counts = data['income'].value_counts()

print("Number of times each value has been used for the 'income' category:")
print(income_counts)

**Plotting a heat-map to visualize other columns with target('income')**

In [ ]:
# Convert income column to numeric
data['income'] = data['income'].astype('category').cat.codes

# Calculate Pearson correlation coefficients
correlation_matrix = data.corr()

# Plot heatmap
plt.figure(figsize=(7, 7))
sns.heatmap(correlation_matrix, annot=True, cmap='inferno')
plt.title('Correlation Heatmap with Income')
plt.show()

**Displaying the correlation with the target**

In [ ]:
# Select numerical columns
numerical_columns = data.select_dtypes(include=['int64', 'float64']).columns

# Calculate Pearson correlation coefficients with income
correlation_with_income = data[numerical_columns].corrwith(data['income'].astype('category').cat.codes)

# Print correlation coefficients
print("Correlation with income:")
print(correlation_with_income)

**Dropping the 'fnlwgt' column**

In [ ]:
# Drop the 'fnlwgt' column
data.drop(columns=['fnlwgt'], inplace=True)
data

## **One Hot Encoding**

In [ ]:
# Perform one-hot encoding on categorical variables
categorical_columns = data.select_dtypes(include=['object']).columns.tolist()
data = pd.get_dummies(data, columns=categorical_columns, drop_first=True)
data

### **Over-sampling since the dataset is not balanced**

In [ ]:
data["income"].value_counts()

In [ ]:
# Separate features and target variable
X = data.drop(columns=['income'])
y = data['income']

# Apply SMOTE to balance the dataset
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

# Combine resampled data into a DataFrame
data = pd.concat([pd.DataFrame(X_resampled), pd.DataFrame(y_resampled, columns=['income'])], axis=1)

# Shuffle the dataset
data = data.sample(frac=1, random_state=42).reset_index(drop=True)

data["income"].value_counts()

### **Splitting the dataset for training**

In [ ]:
x = data.drop('income', axis=1)  # Assuming the target variable is named 'income'
y = data['income']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=99)